Repository nomad-xyz/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nomad-xyz/engineering, @nomad-xyz/experience, @nomad-xyz/protocol, @yourbuddyconner, @arnaud036

.github/CODEOWNERS:

# Defaults
* @nomad-xyz/engineering

# Core packages 
packages/core/ @nomad-xyz/experience @nomad-xyz/protocol
packages/bridge/ @nomad-xyz/experience @nomad-xyz/protocol
packages/deploy/ @nomad-xyz/experience @nomad-xyz/protocol
packages/multi-provider/ @nomad-xyz/experience @nomad-xyz/protocol
packages/router/ @nomad-xyz/experience @nomad-xyz/protocol

# SDK Packages 
packages/sdk/ @nomad-xyz/experience @nomad-xyz/protocol 
packages/sdk-govern/ @nomad-xyz/experience @nomad-xyz/protocol
packages/sdk-bridge/ @nomad-xyz/experience @nomad-xyz/protocol

# Other Packages and Services
packages/example-xapps/ @nomad-xyz/experience @nomad-xyz/protocol
packages/keymaster/ @yourbuddyconner @arnaud036

wip: update deploy references in local-environment
  packages/deploy/package.json
  packages/deploy/src/core/index.ts
  packages/deploy/src/index.ts
  packages/local-environment/package.json
  packages/local-environment/src/nomad.ts
  packages/local-environment/tsconfig.json
  yarn.lock
Owners: @nomad-xyz/experience, @nomad-xyz/protocol, @nomad-xyz/engineering

wip: fix sdk related imports, add Updater and types from nomad-tests
  packages/local-environment/src/nomad.ts
  packages/local-environment/src/types.ts
  packages/local-environment/src/updater.ts
  packages/local-environment/src/utils.ts
  packages/sdk-bridge/src/index.ts
  packages/sdk/tsconfig.json
Owners: @nomad-xyz/engineering, @nomad-xyz/experience, @nomad-xyz/protocol

fix: use BridgeContext over old NomadContext
  packages/local-environment/src/nomad.ts
Owners: @nomad-xyz/engineering

fix: remaining local-environment build errors
  .gitignore
  packages/local-environment/src/nomad.ts
  packages/local-environment/src/types.ts
Owners: @nomad-xyz/engineering

chore: improve package scripts (#13)
  README.md
  package.json
Owners: @nomad-xyz/engineering

keymaster: added target_network to failed tx error message
  packages/keymaster/src/keymaster.py
Owners: @yourbuddyconner, @arnaud036

chore: keep package folder + npm package name consistent
  package.json
  packages/deploy/package.json
  packages/deploy/src/incremental/checks.ts
  packages/deploy/src/incremental/index.ts
  packages/monitor/package.json
  packages/monitor/src/registerContext.ts
  packages/monitor/src/tokens.ts
  packages/monitor/src/trace.ts
  packages/sdk-bridge/package.json
  packages/sdk-govern/package.json
  yarn.lock
Owners: @nomad-xyz/engineering, @nomad-xyz/experience, @nomad-xyz/protocol

chore: add yarn.lock binary to git attributes
  .gitattributes
Owners: @nomad-xyz/engineering

chore: keep package folder + npm package name consistent (#20)
  .gitattributes
  package.json
  packages/deploy/package.json
  packages/deploy/src/incremental/checks.ts
  packages/deploy/src/incremental/index.ts
  packages/monitor/package.json
  packages/monitor/src/registerContext.ts
  packages/monitor/src/tokens.ts
  packages/monitor/src/trace.ts
  packages/sdk-bridge/package.json
  packages/sdk-govern/package.json
  yarn.lock
Owners: @nomad-xyz/engineering, @nomad-xyz/experience, @nomad-xyz/protocol
